
    <div  class="row" *ngIf="isCartEmpty">
      <div class="col-lg-3"></div>
      <br>
      <br>
      <img src="https://vividparts.com/site_assets/images/empty_cart.gif" alt="csd" style="height: 400px; width: 600px;">
    </div>

  <div class="container px-3 my-5 clearfix" *ngIf="!isCartEmpty">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Product Details</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Product Price</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total Price</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let c of cart.productsAdded">
                    <td class="p-4">
                      <div class="media align-items-center">
                        <div class="image-box">
                          <div class="images" id="image-1" >
                            <img class="img-thumbnail" alt="product image" src={{c.productImage[0]}} height="40%" width="40%" >
                          </div>
                        </div>

                        <div class="media-body">
                          <div class="d-block text-dark" style="font-size: large;">{{c.productName}}</div>
                        </div>
                      </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4"> {{c.productPrice | currency:"Rs. "}}  </td>
                    <td class="align-middle p-4"> <div class="btn-group me-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-light" (click)="subtractQuantity(c.productId)">-</button>
                      <button type="menu" class="btn btn-light">{{c.quantity}}</button>
                      <button type="button" class="btn btn-light" (click)="addQuantity(c.productId)">+</button>

                    </div>
      </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{cart.totalPrice | currency:"Rs."}}</td>
                    <td class="text-center align-middle px-0"> <button style="border: 0px;" (click)="deleteItem(c.productId)">
                      <img src="../../../assets/imgs/delete.jpg" alt="xyz" style="height: 50px; width: 50px;">
                    </button></td>
                  </tr>




                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
              <div class="mt-4">
                <label class="text-muted font-weight-normal m-0" style="font-size: x-large;">Total Items In Cart:</label>
                  <div class="text-large"  style="font-size: x-large;"><strong>{{cart.totalItems}}</strong></div>
              </div>
              <div class="d-flex">
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0"  style="font-size: x-large;">Total price</label>
                  <div class="text-large" style="font-size: x-large;"><strong>{{cart.totalPrice | currency:"Rs."}}</strong></div>
                </div>
              </div>
            </div>

            <div class="float-right">
              <button type="button" class="btn btn-primary" routerLink="/order/{{userId}}">proceed to payment</button>
            </div>

          </div>
      </div>
  </div>

