


<div class="bgcolor">
  <br />
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post Category Form</h3>
    <br />
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <!-- Text input -->
      <div class="form-outline mb-2">
        <input type="text" id="form6Example2" class="form-control" formControlName="categoryName"/>
        <label class="form-label" for="form6Example3"> &nbsp;&nbsp;Category name</label>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-2">
        <input type="text" id="form6Example2" class="form-control" formControlName="imgUrl" />
        <label class="form-label" for="form6Example3"> &nbsp;&nbsp;Image Url</label>
      </div>

      <br />

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 150px;" >
        Post Category
      </button>
    </form>
  </div>
  <div class="col-lg-2"></div>
</div>
</div>
