


<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body ">
        <h2 class="amount-edit">Amount to pay:- {{amount | currency:"Rs. "}}</h2>
        <br>
        <h3>Deliver to:-</h3>  {{ user.address.houseNumber }},
        {{ user.address.colonyName }},&nbsp;{{user.address.streetName}},&nbsp;{{ user.address.city }},
        {{ user.address.state }},&nbsp;{{ user.address.pinCode }}

        <div class="text-end">
           <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#updateAddressModal">Change Address</button>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-2">
  </div>
</div>

<br />

<div class="row">
  <div class="col-lg-2">

  </div>

  <div class="col-lg-8">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <div class="card bg-light" >
      <div class="card-body">Payment Options:-</div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">


          <ul class="list-group">
            <li class="list-group-item">
              <div class="form-check">
                <input class="form-check-input" name="paymentMethod" type="radio" id="E-wallet" formControlName="paymentMethod" value="E-wallet">
                <label class="form-check-label" for="E-wallet">
                  E-wallet
                </label>
              </div>
            </li>
            <li class="list-group-item" >
              <div class="form-check" >
                <input class="form-check-input" name="paymentMethod" type="radio" id="Payment-Gateway" formControlName="paymentMethod" value="Payment-Gateway">
                <label class="form-check-label" for="Payment-Gateway">
                  Payment-Gateway
                </label>
              </div>
            </li>
            <li class="list-group-item">
              <div class="form-check">
                <input class="form-check-input" name="paymentMethod" type="radio" id="Cash-On-Delivery" formControlName="paymentMethod" value="Cash-On-Delivery">
                <label class="form-check-label" for="Cash-On-Delivery">
                  Cash-On-Delivery
                </label>
              </div>
            </li>
          </ul>
          <br />

        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
    <br />
    <div class="d-grid col-6 mx-auto">
      <button class="btn btn-success" type="submit">Place Order</button>
    </div>
  </form>
  </div>

  <div class="col-lg-2"></div>
</div>


<div>
  <!-- Modal -->
  <div  class="modal fade" id="updateAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateAddressForm" (ngSubmit)="onAddressFormSubmit()">

            <div>Address :- </div>
            <br />
            <!-- Text input -->
            <div class="row mb-2">
              <div class="col">
                <div class="form-outline mb-3">
                  <input type="number" id="form6Example4" class="form-control" value="{{user.address.houseNumber}}" formControlName="houseNumber" />
                  <label class="form-label" for="form6Example4">houseNumber</label>
                </div>
              </div>

              <div class="col">
                <div class="form-outline mb-3">
                  <input type="text" id="form6Example4" class="form-control" value="{{user.address.streetName}}" formControlName="streetName"/>
                  <label class="form-label" for="form6Example4">streetName</label>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col">
                <div class="form-outline mb-3">
                  <input type="text" id="form6Example4" class="form-control" value="{{user.address.colonyName}}" formControlName="colonyName"/>
                  <label class="form-label" for="form6Example4">colonyName</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline mb-3">
                  <input type="text" id="form6Example4" class="form-control"  value="{{user.address.city}}" formControlName="city" />
                  <label class="form-label" for="form6Example4">city</label>
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
            <div class="form-outline mb-3">
              <input type="text" id="form6Example4" class="form-control" value="{{user.address.state}}" formControlName="state"  />
              <label class="form-label" for="form6Example4">state</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline mb-3">
              <input type="number" id="form6Example4" class="form-control" value="{{user.address.pinCode}}" formControlName="pinCode"  />
              <label class="form-label" for="form6Example4">pinCode</label>
            </div>
          </div>
        </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-block mb-4" data-bs-dismiss="modal" aria-label="Close">
                Update
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

