
<!--
<span *ngFor="let image of product.image"  >
  <img class="img-thumbnail" alt="{{product.productName}}" src= {{image}} height="50%" width="20%" >
  </span>

<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{product.productName}}</h5>
    <p class="card-text">{{product.price|currency:'Rs':'symbol'}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Product Type: {{product.productType}}</h6>
    <p class="card-text">{{product.description}}</p>
    <h6 class="card-subtitle mb-2 text-muted">
      <span *ngFor="let entry of product.specification | keyvalue">
{{entry.key}}- {{entry.value}}

</span></h6>

 <a href="#"
 class="btn btn-primary"
  routerLink="/cart/add/items/{{userId}}/{{product.productid}}/{{1}}" >Add Item to Cart</a><br><br>
  <a href="#"
  class="btn btn-primary"
   routerLink="/cart/{{userId}}">View Cart</a><br><br>
  </div>
</div>
  -->
<!--
<html lang="en">

<head>

  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img">
      <div class="images"  id="image-1" *ngFor="let image of product.image" >
        <img class="img-thumbnail" alt="product image" [src]="image" height="100%" width="100%" >
      </div>

    </div>
    <div class="product-info">
      <div class="product-text">

        <h1>{{product.productName}}</h1>
        <h5>{{product.price|currency:'Rs':'symbol'}} </h5>
        <br>
        <P> Product description: {{product.description}}</P>
        <P> Seller Name: {{product.merchantName}}</P>
        <span style="font-size: medium;">Product Specifications:<p *ngFor="let entry of product.specification | keyvalue">
          {{entry.key}}- {{entry.value}}</p></span>
        <P>Product Type: {{product.productType}}</P>

      </div>
    </div>
  </div>
  <div class="product-price-btn">
    <button type="button"(click)="addItemsToCart(product.productid)" >Add Item to Cart</button>
  </div>



</body>

</html>
-->
<div *ngIf="deleted===true">
<h1> {{deleteMsg}} </h1>
</div>



<div class="container mt-5 mb-5">	<div class="card" *ngIf="deleted===false">
  	<div class="row g-0">
  <div class="col-sm-2" >

    <div *ngFor="let img of product.image" style="margin-left: 50px; margin-bottom: 15px;">
      <button class="btn btn-outline-success">
      <img src={{img}}  style="width: 38px; height:35px aspect-square" alt="xyz" (click)="showImg(img)" /><br>

    </button>


    </div>
  </div>
  <div class="col-sm-3" *ngIf="deleted===false">

<br />
  <div style="width: 270px; height:370px">
  <img src={{imageurl}} style="width: 270px; height:370px" alt="xyz" >

</div>
          </div>

  <div class="col-md-6 " *ngIf="deleted===false">
    <div class="d-flex flex-column justify-content-center">


            	<div class="col-md-8">
              <div class="p-3 right-side">
        	<div class="d-flex justify-content-between align-items-center">	<h3>{{product.productName}}</h3>
            	</div>	<div class="mt-2 pr-3 content">
              	<p>{{product.description}}</p>	</div>
                <h3>{{product.price|currency:'Rs':'symbol'}}</h3>
                	<div class="ratings d-flex flex-row align-items-center">
                  	<div class="d-flex flex-row">	<i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>
                      <i class='bx bxs-star' ></i>	<i class='bx bxs-star' ></i>
                      	<i class='bx bx-star' ></i>	</div>
          	<span>Product Type:&nbsp;{{product.productType}}</span></div>
            <div><span>Seller:&nbsp;{{product.merchantName}}</span></div>
            <div class="mt-5">
              <span class="fw-bold">Product Specifications:</span>
              <div class="colors">	  <span style="font-size: medium;">
                <p *ngFor="let entry of product.specification | keyvalue">
                {{entry.key}}- {{entry.value}}</p></span>
                	</div>
              	</div>	<div class="buttons d-flex flex-row mt-5 gap-3">

                    <button class="btn btn-dark"(click)="addItemsToCart(product.productid)" >Add to Cart
                    </button>
                    <button class="btn btn-dark"routerLink="/review/{{product.productid}}" >Reviews And Rating({{reviewCount}})
                    </button>
                  	</div>

                    <div *ngIf="loggedIn && isMerchant">
                      <a  (click)="deleteProduct(product.productid)">
                        <button class="btn btn-success"  >delete Product</button>
                      </a>

<!--
                    <div *ngIf="loggedIn && isMerchant">
                      <a >
                        <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"  >Upadate Product</button>
                      </a>
                    -->

            	<i class='bx bx-share-alt share'></i>
	</div>

  <!--
  <div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="form-outline mb-2">
              <input type="text" id="form6Example2" class="form-control" value="{{product.productName}" formControlName="productname" />
              <label class="form-label" for="form6Example3"> &nbsp;&nbsp;Product name</label>
            </div>


            <div class="form-outline mb-2">
              <input type="text" id="form6Example2" class="form-control" formControlName="productType" />
              <label class="form-label" for="form6Example3"> &nbsp;&nbsp;Product Type</label>
            </div>


            <div class="form-outline mb-2">
              <input type="number" id="form6Example4" class="form-control" formControlName="productPrice" />
              <label class="form-label" for="form6Example4"> &nbsp;&nbsp;Product Price</label>
            </div>



            <div class="form-outline mb-2">
              <input type="text" id="form6Example7" class="form-control" formControlName="productImage1" />
              <label class="form-label" for="form6Example7"> &nbsp;&nbsp;Image1</label>
            </div>

             <div class="form-outline mb-2">
              <input type="text" id="form6Example8" class="form-control" formControlName="productImage2"  />
              <label class="form-label" for="form6Example8"> &nbsp;&nbsp;Image2</label>
            </div>

             <div class="form-outline mb-2">
              <input type="text" id="form6Example9" class="form-control" formControlName="productImage3"  />
              <label class="form-label" for="form6Example9"> &nbsp;&nbsp;Image3</label>
            </div>

             <div class="form-outline mb-2">
              <input type="text" id="form6Example10" class="form-control" formControlName="productImage4" />
              <label class="form-label" for="form6Example10"> &nbsp;&nbsp;Image4</label>
            </div>

            <div class="form-outline mb-2">
              <textarea class="form-control" id="form6Example12" rows="4" formControlName="productDescription" ></textarea>
              <label class="form-label" for="form6Example12"
                > &nbsp;&nbsp;Description</label
              >
            </div>

            <label for="">Enter the Specifications :</label> <br/>

            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example15" class="form-control" formControlName="SpecTitle1"/>
                  <label class="form-label" for="form3Example15">&nbsp;&nbsp;Specification title1</label>
                </div>
              </div>
              :
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example25" class="form-control" formControlName="SpecDesc1"/>
                  <label class="form-label" for="form3Example25">&nbsp;&nbsp;Description</label>
                </div>
              </div>
            </div>


            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example15" class="form-control" formControlName="SpecTitle2" />
                  <label class="form-label" for="form3Example15">&nbsp;&nbsp;Specification title2</label>
                </div>
              </div>
              :
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example25" class="form-control" formControlName="SpecDesc2" />
                  <label class="form-label" for="form3Example25">&nbsp;&nbsp;Description</label>
                </div>
              </div>
            </div>


            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example15" class="form-control" formControlName="SpecTitle3"/>
                  <label class="form-label" for="form3Example15">&nbsp;&nbsp;Specification title3</label>
                </div>
              </div>
              :
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example25" class="form-control"  formControlName="SpecDesc3" />
                  <label class="form-label" for="form3Example25">&nbsp;&nbsp;Description</label>
                </div>
              </div>
            </div>


            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example195" class="form-control" formControlName="SpecTitle4"/>
                  <label class="form-label" for="form3Example195">&nbsp;&nbsp;Specification title4</label>
                </div>
              </div>
              :
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example285" class="form-control" formControlName="SpecDesc4" />
                  <label class="form-label" for="form3Example285">&nbsp;&nbsp;Description</label>
                </div>
              </div>
            </div>


            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example165" class="form-control" formControlName="SpecTitle5"/>
                  <label class="form-label" for="form3Example165">&nbsp;&nbsp;Specification title5</label>
                </div>
              </div>
              :
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example235" class="form-control" formControlName="SpecDesc5" />
                  <label class="form-label" for="form3Example235">&nbsp;&nbsp;Description</label>
                </div>
              </div>
            </div>

            <br />
            <div class="modal-footer">
              <button type="submit" class="btn btn btn-secondary btn-block mb-4" data-bs-dismiss="modal" aria-label="Close">
                Update
              </button>
            </div>

           </form>
  </div>
-->
</div>	</div>	</div>	</div>
